body {
    color: rgb(202, 104, 74);
    background-color: rgb(17, 10, 11);
    font-family: 'Sacramento', cursive;
    font-size: 32px;
    margin-top: 5%;
    margin-left: 80%;
    margin-right: 80%;
 }